#
# Per-repo gitattributes file
#

bashrc	text eol=lf
profile	text eol=lf
zshrc	text eol=lf
vimrc	text eol=lf
.config/conda.patch eol=crlf

# Auto detect text files and perform LF normalization
* text=auto
*.ps1 text eol=crlf
*.bat text eol=crlf
