{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt install zsh curl git less vim ripgrep fd-find
# fzf
if ! command -v fzf; then
  git clone --depth 1 https://github.com/junegunn/fzf.git ~/.fzf
  ~/.fzf/install
fi
if ! command -v ogl; then
  curl -sL https://github.com/onilton/ogl/releases/download/v0.0.2/ogl-linux.tar | sudo tar x -C /usr/local/bin/
fi
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep fzf fd
{{ end -}}
